@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";
@import "@nuxt/ui";

@plugin '@tailwindcss/typography';

@theme {
    --color-neutral-50: #f6f6f6;
    --color-neutral-100: #e7e7e7;
    --color-neutral-200: #d1d1d1;
    --color-neutral-300: #b0b0b0;
    --color-neutral-400: #888888;
    --color-neutral-500: #6d6d6d;
    --color-neutral-600: #4f4f4f;
    --color-neutral-700: #4f4f4f;
    --color-neutral-800: #454545;
    --color-neutral-900: #3d3d3d;
    --color-neutral-950: #0a0a0a;

    --color-primary-50: var(--ui-color-primary-50);
    --color-primary-100: var(--ui-color-primary-100);
    --color-primary-200: var(--ui-color-primary-200);
    --color-primary-300: var(--ui-color-primary-300);
    --color-primary-400: var(--ui-color-primary-400);
    --color-primary-500: var(--ui-color-primary-500);
    --color-primary-600: var(--ui-color-primary-600);
    --color-primary-700: var(--ui-color-primary-700);
    --color-primary-800: var(--ui-color-primary-800);
    --color-primary-900: var(--ui-color-primary-900);
    --color-primary-950: var(--ui-color-primary-950);


}

.dark {
    --ui-bg: var(--color-neutral-950);
    --ui-border: var(--ui-color-neutral-900);
}

* {
    font-family: 'Nunito', sans-serif;
}