@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import "tailwindcss";
@import "@nuxt/ui";

@plugin '@tailwindcss/typography';

@theme {
  --radius-lg: calc(var(--ui-radius) * 2);
/* 
  --color-neutral-50:  #F4F4F4;
  --color-neutral-100: #E6E6E5;
  --color-neutral-200: #D1D0CF;
  --color-neutral-300: #B9B8B7;
  --color-neutral-400: #9A9996;
  --color-neutral-500: #77767B;
  --color-neutral-600: #5E5C64;
  --color-neutral-700: #3D3846;
  --color-neutral-800: #241F31;
  --color-neutral-900: #15131D;
  --color-neutral-950: #0E0D12;

  --color-primary-50: var(--ui-color-primary-50);
  --color-primary-100: var(--ui-color-primary-100);
  --color-primary-200: var(--ui-color-primary-200);
  --color-primary-300: var(--ui-color-primary-300);
  --color-primary-400: var(--ui-color-primary-400);
  --color-primary-500: var(--ui-color-primary-500);
  --color-primary-600: var(--ui-color-primary-600);
  --color-primary-700: var(--ui-color-primary-700);
  --color-primary-800: var(--ui-color-primary-800);
  --color-primary-900: var(--ui-color-primary-900);
  --color-primary-950: var(--ui-color-primary-950); */
}

.dark {
  /* --ui-bg: var(--color-neutral-950);
  --ui-border: var(--ui-color-neutral-900); */
}

* {
  font-family: "Nunito", sans-serif;
}
