@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import "tailwindcss";
@import "@nuxt/ui";

@plugin '@tailwindcss/typography';

@theme {
  --radius-lg: calc(var(--ui-radius) * 2);

  --color-neutral-50: #f4f4f4;
  --color-neutral-100: #e6e6e5;
  --color-neutral-200: #d1d0cf;
  --color-neutral-300: #b9b8b7;
  --color-neutral-400: #9a9996;
  --color-neutral-500: #77767b;
  --color-neutral-600: #5e5c64;
  --color-neutral-700: #3d3846;
  --color-neutral-800: #241f31;
  --color-neutral-900: #0a0a0a;
  --color-neutral-950: #000;

  --color-primary-50: var(--ui-color-primary-50);
  --color-primary-100: var(--ui-color-primary-100);
  --color-primary-200: var(--ui-color-primary-200);
  --color-primary-300: var(--ui-color-primary-300);
  --color-primary-400: var(--ui-color-primary-400);
  --color-primary-500: var(--ui-color-primary-500);
  --color-primary-600: var(--ui-color-primary-600);
  --color-primary-700: var(--ui-color-primary-700);
  --color-primary-800: var(--ui-color-primary-800);
  --color-primary-900: var(--ui-color-primary-900);
  --color-primary-950: var(--ui-color-primary-950);
}


* {
  font-family: "Nunito", sans-serif;
}
